.App {
  text-align: center;
  background-color: rgb(192, 174, 236);
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
